.messages--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.message--container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 50px;
    border: 5px solid #B24080;
}

.message--img {
    max-width: 800px;
    min-width: 500px;
    max-height: 1000px;
}

.message--banner {
    background-color: #ECAC5D;
    width: 800px;
    height: 10px;
    margin-bottom: 50px;
}