.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* Color palette */

/* https://colorhunt.co/palette/b93160d75281eed180fff89c */

.bg--primary {
 background-color: #3F0713;
}

.bg--secondary {
  background-color: #B24080;
}

.bg--third {
 background-color: #ECAC5D;
}

.bg--light {
  background-color: #FFF9B2;
}

.txt--primary {
  color: #3F0713;
}
.txt--secondary {
  color: #B24080;
}
.txt--third {
  color: #ECAC5D;
}
.txt--light {
  color: #FFF9B2;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
